.header{
    background-color: rgb(108, 214, 228);
}

.Title{
    font-size: 2rem;
    font-weight: bold;
}

.com{
    padding-top: 0.7rem;
}


.co{
    border: 1px solid red;
    height: 92vh;
    display: inline-flexbox;
}


/*      Sidebar     */

.menu{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
